@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 63%;
}

body{
    background: #36555cfa;
    display: flex;
}

#login.show{
    display: flex;
}

#login{
    display: none;
    padding: 2.7rem;
    transition: all 0.3s ease;
    font-family: monospace;
    font-size: 4vmin;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    background-color: #4d757ec9;
    height: 100vh;
    width: 35vw;
    mask-image: linear-gradient(to right, black 95%, transparent 100%);

}


#login h2{
    margin-bottom: 15%;
    color: white;
}

#login input{
    font-family: monospace;
    font-size: 1.7rem;
    font-weight: bolder;
    width: 25vw;
    height: 5vmax;
    border-radius: .9rem;
    padding: 3%;
}

#login input:focus{
    font-weight: 50;
    width: 26vw;
    transition: all 0.4s ease;
}

.botao{
    background-color: #adcad1c9;
    font-family: monospace;
    border-radius: 1rem;
    border: 1px solid rgb(255, 255, 255);
    width: 18vw;
    height: 6vh;
}

#login .botao:hover{
    font-weight: 1000;
    transition: all 0.2s ease;
    width: 18.9vw;
    height: 6.5vh;
    cursor: pointer;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.8rem;
    margin-bottom: 5%;
}

form .botao{
    margin-top: 5%;
    align-self: center;
}

#cadastro{
    margin: 0;
    background: transparent;
    border: 0px;
    color: rgb(54, 203, 230);
}

#cadastro:hover{
    color: rgb(89, 168, 241);
    cursor: pointer;
}

.container{
    position: absolute;
    z-index: 1;
    margin: 1px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;    
    width: 100%;
    height: 80vh;
    flex-wrap: nowrap;
}

.container main{
    display: flex;
    flex-direction: column;
    padding: 4%;
}

.container header{
    text-align: center;
}

.container header h1{
    flex-wrap: wrap;
    font-size: 19vmin;
    font-family: monospace;
    color: white;
}

.container input{
    padding: 1.2rem;
    font-size: 3vmin;
    transition: .5s;
    color: white;
    background: #19191a;
    border-radius: 2vmin;
    border: none;
    width: 90vmin;
    height: 8vmin;
}


.item{
    border-radius: 20px;
    margin: 1px auto;
    padding: 1.2rem;
    align-items: center;
    color: white;
    display: flex;
    background-color: #1a1a1aa9;
    min-width: 60vmin;
    max-width: 90vmin;
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 4vmin;
    flex-wrap: wrap;
}

.item p {
  margin-right: 10px;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.trash_bin{
    margin-left: 1vmin;
    min-width: 6vmin;
    max-width: 4vmin;
    height: 6vmin;
    background: transparent;
    border: none;
    background-image: url(../../src/assets/imgs/trash_icon.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 10px;
    
}

.check{
    margin-left: auto;
    min-width: 6vmin;
    max-width: 4vmin;
    height: 6vmin;
    background: transparent;
    border: none;
    background-image: url(../../src/assets/imgs/check.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 10px;
}

.dashed{
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.39);
}

.close_check{
    background-image: url(../../src/assets/imgs/close.png);

}

#relogio{
    padding: 2rem;
    margin: 1px auto;
    font-size: 3vmin;
    color: white;
}

.trash_bin:hover{
    cursor: pointer;
}

.check:hover{
    cursor: pointer;
}


